################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/actions/v17
/.vs/actions/FileContentIndex
/.vs/slnx.sqlite
